
<div class="infomation">
    <img src="@ViewBag.Avatar" class="avatar" />
    <div class="text-infomation">
        <p class="name-infomation text-16-600">@ViewBag.Displayname</p>
        <p class="rank-infomation text-12-400">@ViewBag.Position</p>
    </div>
</div>

<style>
    .avatar {
        vertical-align: middle;
        width: 50px !important;
        height: 50px !important;
        border-radius: 20% !important;
    }
</style>
