a.k-link{
    text-align: center;
}

/*.k-grid-Sửa {
    background-color: #FBFCFF;
    min-width: 0px;
    background-image: url(../img/Vector-change.png);
    background-repeat: no-repeat, repeat;
    border: none;
    text-indent: -9999px;
    color: #ffffff;
}


    .k-grid-Sửa:hover {
        background-color: #FBFCFF;
        background-image: url(../img/Vector-change.png);
        background-repeat: no-repeat, repeat;
        border: none;
        background-color: #ffffff;
        color: #ffffff;
        text-decoration: none;
    }*/

.k-alt {
    background-color: #FBFCFF;
}

.k-state-selected, .k-state-selected:link, .k-list > .k-state-selected, .k-list > .k-state-highlight, .k-panel > .k-state-selected, .k-button:active, .k-ghost-splitbar-vertical, .k-ghost-splitbar-horizontal, .k-draghandle.k-state-selected:hover {
    background-color: #F0682E;
    color: #ffffff;
}

.k-grid-header .k-header a {
    opacity: 0.8;
    color: #F0682E;
    text-decoration: none;
    margin-bottom: 0.2vw;
}

.k-header:first-child {
    border-bottom-color: #FBFCFF;
    background-color: #FBFCFF;
}

.k-header:last-child {
    border-bottom-color: #FBFCFF;
    background-color: #FBFCFF;
}

.k-widget {
    background-color: #FBFCFF;
    border-color: #FBFCFF;
}

tbody tr td:first-child {
    border-left-color: #FCFBFF;
}

tbody tr td:last-child {
    background-color: #FBFCFF;
}

tbody tr td:not(:first-child):not(:last-child) {
    border-bottom: 1px solid #E2E2E3;
}



.k-grid-header .k-header:first-child, .k-grid tbody td:first-child, .k-grid tfoot td:first-child {
    border-left-width: 1px;
}

.k-header {
    background-color: #FBFCFF;
    border-left-color: #FBFCFF;
}

.k-grid-header .k-header:nth-child(2) {
    width: 13%;
}



.k-pager-wrap {
    margin-top: 1vw;
}

.k-grid-top {
    background-color: #FCFBFF;
    border: none;
}

td .k-grid-Module {
    background-image: url('../../../../Images/access1.png');
    background-repeat: no-repeat;
    color: transparent;
    border: none;
    background-size: 15px 15px;
    background-color: #FBFCFF;
    background-position: center;
}

    td .k-grid-Module:hover {
        background-image: url('../../../../Images/accessActive1.png');
        background-repeat: no-repeat;
        color: transparent;
        border: none;
        background-size: 15px 15px;
        background-color: #FBFCFF;
        background-position: center;
    }


.k-state-selected .k-grid-Module:hover {
    background-image: url('../../../../Images/accessActive1.png');
    background-repeat: no-repeat;
    color: transparent;
    border: none;
    background-size: 15px 15px;
    /* background-color: #01579b;*/
    background-position: center;
}


a.k-button.k-button-icontext.k-grid-Xóa {
    background-color: #FCFBFF;
    background-image: url("/Content/themes/admin/img/cancel.png");
    background-repeat: no-repeat;
    color: transparent;
    border-color: #FCFBFF;
    background-size: 31%;
}

    a.k-button.k-button-icontext.k-grid-Xóa:hover {
        background-color: #FCFBFF;
        background-image: url("/Content/themes/admin/img/cancel-Active.png");
        background-repeat: no-repeat;
        color: transparent;
        border-color: #FCFBFF;
        background-size: 31%;
    }
k-state-selected a.k-button.k-button-icontext.k-grid-Xóa {
    background-color: #FCFBFF;
    background-image: url("/Content/themes/admin/img/cancel.png");
    background-repeat: no-repeat;
    color: transparent;
    border-color: #FCFBFF;
    background-size: 31%;
}

.k-state-selected a.k-button.k-button-icontext.k-grid-Xóa:hover {
    background-color: #FCFBFF;
    background-image: url("/Content/themes/admin/img/cancel-Active.png");
    background-repeat: no-repeat;
    color: transparent;
    border-color: #FCFBFF;
    background-size: 31%;
}

a.k-button.k-button-icontext.k-grid-Xóa:active {
    border-color: #FCFBFF;
    background-color: #FCFBFF;
}

.k-state-selected a.k-button.k-button-icontext.k-grid-Xóa:active {
    border-color: #FCFBFF;
    background-color: #FCFBFF;
}




a.k-button.k-button-icontext.k-grid-Mậtkhẩu {
    background-color: #FCFBFF;
    background-image: url("/Content/themes/admin/img/key-Active.png");
    background-repeat: no-repeat;
    color: transparent;
    border-color: #FCFBFF;
    background-size: 23%;
}

    a.k-button.k-button-icontext.k-grid-Mậtkhẩu:hover {
        background-color: #FCFBFF;
        background-image: url("/Content/themes/admin/img/key.png");
        background-repeat: no-repeat;
        color: transparent;
        border-color: #FCFBFF;
        background-size: 23%;
    }

k-state-selected a.k-button.k-button-icontext.k-grid-Mậtkhẩu {
    background-color: #FCFBFF;
    background-image: url("/Content/themes/admin/img/key-Active.png");
    background-repeat: no-repeat;
    color: transparent;
    border-color: #FCFBFF;
    background-size: 23%;
}

.k-state-selected a.k-button.k-button-icontext.k-grid-Mậtkhẩu:hover {
    background-color: #FCFBFF;
    background-image: url("/Content/themes/admin/img/key.png");
    background-repeat: no-repeat;
    color: transparent;
    border-color: #FCFBFF;
    background-size: 23%;
}

a.k-button.k-button-icontext.k-grid-Mậtkhẩu:active {
    border-color: #FCFBFF;
    background-color: #FCFBFF;
}

.k-state-selected a.k-button.k-button-icontext.k-grid-Mậtkhẩu:active {
    border-color: #FCFBFF;
    background-color: #FCFBFF;
}






a.k-button.k-button-icontext.k-grid-Sửa {
    background-color: #FCFBFF;
    background-image: url("/Content/themes/admin/img/Vector-change.png");
    background-repeat: no-repeat;
    color: transparent;
    border-color: #FCFBFF;
}

    a.k-button.k-button-icontext.k-grid-Sửa:hover {
        background-color: #FCFBFF;
        background-image: url("/Content/themes/admin/img/Vector-changeActive.png");
        background-repeat: no-repeat;
        color: transparent;
        border-color: #FCFBFF;
    }

.k-state-selected a.k-button.k-button-icontext.k-grid-Sửa {
    background-color: #FCFBFF;
    background-image: url("/Content/themes/admin/img/Vector-change.png");
    background-repeat: no-repeat;
    color: transparent;
    border-color: #FCFBFF;
}

    .k-state-selected a.k-button.k-button-icontext.k-grid-Sửa:hover {
        background-color: #FCFBFF;
        background-image: url("/Content/themes/admin/img/Vector-changeActive.png");
        background-repeat: no-repeat;
        color: transparent;
        border-color: #FCFBFF;
    }

a.k-button.k-button-icontext.k-grid-Sửa:active {
    border-color: #FCFBFF;
    background-color: #FCFBFF;
}

.k-state-selected a.k-button.k-button-icontext.k-grid-Sửa:active {
    border-color: #FCFBFF;
    background-color: #FCFBFF;
}

span.k-state-selected {
    border-color: #FCFBFF;
}

.k-pager-numbers .k-state-selected {
    padding: 0 8px;
line-height: 20px;
}




.row-quanlyxe {
    margin-bottom: 1.5vw;
    position: relative;
    justify-content: space-around;
}

.add-car {
    cursor: pointer;
    background-color: #F0682E;
    color: white;
    border-radius: 18.5px;
}

.button-add-partner {
    padding: 0.55vw 1vw 0.55vw 3vw;
}

@media only screen and (max-width: 768px) and (min-width: 576px) {
    .button-add-partner {
        padding: 2vw 5vw;
    }
}

@media only screen and (max-width: 576px) {
    .button-add-partner {
        padding: 0vw 7vw;
    }
}

.row-plan-drive {
    display: flex;
    padding: 0;
}

.btn-plan-drive img {
    width: fit-content;
    height: fit-content;
    margin-right: 0.3vw;
}





.actions > li > a {
    width: 4vw;
    height: auto;
    padding-right: 12px;
    background-color: #F0682E !important;
    border-radius: 20px;
    margin-bottom: 1vw;
}

@media only screen and (max-width: 1500px) and (min-width: 992px) {
    .actions > li > a {
        width: 6vw;
        height: auto;
        padding-right: 12px;
        background-color: #F0682E !important;
    }
}

@media only screen and (max-width: 992px){
    .actions > li > a {
        width: 9vw;
        height: auto;
        padding-right: 12px;
        background-color: #F0682E !important;
    }
}

.k-button:hover {
    background-color: #F0682E;
    border-color: #F0682E;
    text-decoration: none;
}

.k-button:focus {
    border-color: none !important;
    text-decoration: none;
}

.k-window-titlebar {
    height: 4vh;
    line-height: 25px;
}

.content{
    overflow: hidden;
}

@media only screen and (max-width: 992px){
    .content {
        overflow: scroll;
    }
}

.btn.btn-primary {
    background: #F0682E !important;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    background-color: #F0682E !important;
    border-color: #F0682E !important;
    text-decoration: none !important;
}

.k-widget.k-window{
    height: fit-content ;
}

.k-filter-menu .k-popup .k-group .k-reset .k-state-border-up > div > .k-widget .k-dropdown .k-header{
    width: auto;
}

.k-window-titlebar .k-window-action{
    padding: 0px;
}

.k-state-hover:hover{
    background-position:0px 0px;
}

.checked_all {
    display: flex;
    margin: auto;
}
.k-block, .k-widget, .k-inline-block, .k-textbox > input, .k-input[type="text"], .k-input[type="number"],.k-picker-wrap .k-input, .k-button, .k-draghandle {
    border-width: 0px !important;
}
.k-dropdown-wrap .k-state-default .k-state-hover .k-state-focused .k-state-active .k-state-border-down{
    background-color: white !important;
    color: black !important;
}

.pull-right .actions {
    float: right;
    list-style: none;
    margin: 0% 5.5% ;
}


.logout :hover {
    color:  red;
}
