@model StatisticDriverViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Chi phí theo xe";
    WebContext db = new WebContext();
    var roles = Roles.GetRolesForUser();
    var userRoleIds = db.WebRoles.Where(x => roles.Contains(x.RoleName)).Select(y => y.RoleId);
    var roleWebModule = db.AccessWebModuleRoles.AsNoTracking().FirstOrDefault(x => userRoleIds.Contains(x.RoleId) && x.WebModule.URL == "/admin/StatisticForVehicle");
}
<script type="text/javascript">
    var rowselected = [];
    var isCheckedAll = false;
    var getDataCheck = false;

    function binding_handler(e) {

    }
 
    function edit_handler(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        opendlg("/admin/StatisticForVehicle/edit/" + dataItem.ID);
    }
    function add_kendo_selected(id) {
        var grid = top.$("#grid").data("kendoGrid");

        grid.tbody.find("tr[role='row']").each(function () {
            var model = grid.dataItem(this);
            if (model.ID == id) {
                $(this).addClass("k-state-selected");
            }
        });
    }

    $(document).ready(function () {

        $("#get_data").click(function () {
            getDataCheck = true;
            $("#grid").data("kendoGrid").dataSource.read();
            $("#tableData").show();
        });

        $(".input-submit").click(function (e) {
            e.preventDefault();
            if (getDataCheck) {
                var dataSource = $("#grid").data("kendoGrid").dataSource.data();
                var models = [];
                if (rowselected.length > 0) {
                    for (var i = 0; i < rowselected.length; i++) {
                        for (var j = 0; j < dataSource.length; j++) {
                            var dataItem = dataSource[j];

                            if (dataItem.ID == rowselected[i]) {

                                var model = {};
                                model.NumberPlate = dataItem.NumberPlate;
                                model.CarOwerName = dataItem.CarOwerName; 
                                model.TotalDriverPay = dataItem.TotalDriverPay;
                                model.TotalRepairVehicle = dataItem.TotalRepairVehicle;
                                model.TotalOil = dataItem.TotalOil;
                                model.TotalSalary = dataItem.TotalSalary;
                                model.TotalParking = dataItem.TotalParking;
                                model.TotalDateTicket = dataItem.TotalDateTicket;
                                model.TotalMonthTicket = dataItem.TotalMonthTicket;
                                model.TotalTransportActual = dataItem.TotalTransportActual;
                                model.Total = dataItem.Total;


                                models.push(model);
                            }
                        }
                    }

                    var dataSubmit = JSON.stringify(models)
                    $("input[name='dataString']").val(dataSubmit);

                    setTimeout(function () {
                        $("#general").submit();
                    }, 100);
                }
                else {
                    alert("Vui lòng chọn để xuất file!");
                }
            }
            else {
                alert("Vui lòng xuất báo cáo trước khi tải về!");
            }
        });

        $("#FieldFilter").keyup(function () {

            var value = $("#FieldFilter").val();
            var int = parseInt(value);
            var float = parseFloat(value);

            $("#grid").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [
                    {
                        field: "NumberPlate",
                        operator: "contains",
                        value: value
                    },
                    {
                        field: "CarOwerName",
                        operator: "contains",
                        value: value
                    },
                    {
                        field: "Total",
                        operator: "eq",
                        value: float
                    },
                    {
                        field: "TotalTransportActual",
                        operator: "eq",
                        value: float
                    },
                    {
                        field: "TotalMonthTicket",
                        operator: "eq",
                        value: float
                    },
                    {
                        field: "TotalDateTicket",
                        operator: "eq",
                        value: float
                    },
                    {
                        field: "TotalParking",
                        operator: "eq",
                        value: float
                    },
                    {
                        field: "TotalSalary",
                        operator: "eq",
                        value: float
                    },
                    {
                        field: "TotalOil",
                        operator: "eq",
                        value: float
                    },
                    {
                        field: "TotalRepairVehicle",
                        operator: "eq",
                        value: float
                    },
                    {
                        field: "TotalDriverPay",
                        operator: "eq",
                        value: float
                    }
                ]
            });
        });
    });

    function onDataBound(e) {
        $('#grid .k-grid-content').height(screen.height * 0.45);

        $('input[name="checkedNodes"]').each(function () {
            if (rowselected.indexOf(this.value) != -1) {
                $(this).attr('checked', 'checked');
            } else {
                $(this).removeAttr('checked');
            }
        });

        if (this.dataSource.view().length == 0) {
            //insert empty row
            var colspan = this.thead.find("th").length;
            var emptyRow = "<tr><td colspan='" + colspan + "'></td></tr>";
            this.tbody.html(emptyRow);
        }
    };

</script>
<div class="flex row-quanlyxe block-div">
    <div class="flex">
        <div class="manage-car-search row-plan-drive">
            <form action="">
                <img src="~/Content/themes/admin/img/Vector-kehoach.png" alt="calendar" class="img-box-date-picker img-form-plan-drive img-calander-plan-drive">
                <input type="text" id="time" name="month" class="monthPicker" value="@ViewBag.Date" />
            </form>
        </div>
        <div class="manage-car-search row-plan-drive">
            <form action="">
                <img src="~/Content/themes/admin/img/Vector-search1.png" alt="search" class="img-box-search img-form-plan-drive">
                <input id='FieldFilter' type="text" name="" placeholder="Tìm kiếm" class="box-search box-search-quanlyxe">
            </form>
        </div>
    </div>
    <div class="flex block-two-row">
        @if (roleWebModule != null && roleWebModule.Add.HasValue && roleWebModule.Add.Value)
        {
            using (Html.BeginForm("ExportExcel", "StatisticForVehicle", FormMethod.Post, new { @id = "general", enctype = "multipart/form-data", @class = "form-horizontal fix" }))
            {
                @Html.HiddenFor(m => m.dataString)
                <div class="btn-download btn-plan-drive input-submit">
                    <img src="~/Content/themes/admin/img/Vector-download.png" alt="text-14-700">
                    <input id="exportData" type="submit" class="text-14-500 padding-text-plan-drive" value="Tải về">
                </div>
            }

            <div class="btn-download btn-plan-drive" id="get_data">
                <img src="~/Content/themes/admin/img/Vector-upload.png" alt="text-14-700">
                <p class="text-14-500 padding-text-plan-drive">Xuất báo cáo</p>
            </div>
        }
    </div>
</div>

@if (roleWebModule != null && roleWebModule.View.HasValue && roleWebModule.View.Value)
{
    <div class="row-fluid" id="tableData" >
        <div class="span12">
            <div class="box">
                <div class="box-content nopadding">
                    @(Html.Kendo().Grid<StatisticVehicleViewModel>()
            .Name("grid")
            .Columns(columns =>
            {
                columns.Bound(p => p.CarOwerName).Title(WebModels.WebResources.CarOwerName).Hidden();

                columns.Bound("").ClientTemplate("<input name='checkedNodes' type='checkbox' class='k-checkbox' value='#=ID#' onclick='childNodeClick(this)'/>")
                       .HtmlAttributes(new { style = "text-align:center;" })
                       .Filterable(false)
                       .HeaderTemplate("<input type='checkbox' class='checked_all' onclick='checkAll(event)' id='chkAll'/>").Width(70);

                columns.Bound(p => p.NumberPlate).Title(WebModels.WebResources.NumberPlate).HtmlAttributes(new { style = "text-align:center;" }).Width(150);
                columns.Bound(p => p.CarOwerName).Title(WebModels.WebResources.CarOwerName).Width(200);
                columns.Bound(p => p.TotalParking).Title(WebModels.WebResources.TotalParking).Format("{0:N0} ").HtmlAttributes(new { style = "text-align:right;" }).ClientFooterTemplate("#= kendo.format('{0:N0}', sum)# ").Width(200);
                columns.Bound(p => p.TotalDateTicket).Title(WebModels.WebResources.TotalDateTicket).Format("{0:N0} ").HtmlAttributes(new { style = "text-align:right;" }).ClientFooterTemplate("#= kendo.format('{0:N0}', sum)# ").Width(200);
                columns.Bound(p => p.TotalMonthTicket).Title(WebModels.WebResources.TotalMonthTicket).Format("{0:N0} ").HtmlAttributes(new { style = "text-align:right;" }).ClientFooterTemplate("#= kendo.format('{0:N0}', sum)# ").Width(200);
                columns.Bound(p => p.TotalRepairVehicle).Title(WebModels.WebResources.TotalRepairVehicle).Width(250).Format("{0:N0}").HtmlAttributes(new { style = "text-align:right;" }).ClientFooterTemplate("#= kendo.format('{0:N0}', sum)# ").Width(200);
                columns.Bound(p => p.TotalDriverPay).Title(WebModels.WebResources.TotalDriverPay).Width(250).Format("{0:N0}").HtmlAttributes(new { style = "text-align:right;" }).ClientFooterTemplate("#= kendo.format('{0:N0}', sum)# ").Width(200);
                columns.Bound(p => p.TotalOil).Title(WebModels.WebResources.TotalOil).Width(250).Format("{0:N0} ").HtmlAttributes(new { style = "text-align:right;" }).ClientFooterTemplate("#= kendo.format('{0:N0}', sum)# ").Width(200);
                columns.Bound(p => p.TotalSalary).Title(WebModels.WebResources.TotalSalary).Format("{0:N0}").HtmlAttributes(new { style = "text-align:right;" }).ClientFooterTemplate("#= kendo.format('{0:N0}', sum)# ").Width(200);
                columns.Bound(p => p.TotalTransportActual).Title(WebModels.WebResources.TotalTransportActual).Format("{0:N0} ").HtmlAttributes(new { style = "text-align:right;" }).ClientFooterTemplate("#= kendo.format('{0:N0}', sum)# ").Width(200);
                columns.Bound(p => p.Total).Title(WebModels.WebResources.TotalMoney).Format("{0:N0}").HtmlAttributes(new { style = "text-align:right;" }).ClientFooterTemplate("#= kendo.format('{0:N0}', sum)# ").Width(200);

            })
            .Scrollable()
            .Pageable()
            .Selectable(select => select.Mode(GridSelectionMode.Single))
            .Sortable()
            .Filterable(ftb => ftb.Extra(false))
            .Reorderable(reorder => reorder.Columns(true))
            .DataSource(dataSource => dataSource
                .Ajax()
                .Model(model => model.Id(p => p.ID))
                .PageSize(20)
                 .Aggregates(aggregates =>
                 {
                     aggregates.Add(p => p.Total).Sum();
                     aggregates.Add(p => p.TotalParking).Sum();
                     aggregates.Add(p => p.TotalDriverPay).Sum();
                     aggregates.Add(p => p.TotalDateTicket).Sum();
                     aggregates.Add(p => p.TotalOil).Sum();
                     aggregates.Add(p => p.TotalMonthTicket).Sum();
                     aggregates.Add(p => p.TotalTransportActual).Sum();
                     aggregates.Add(p => p.TotalSalary).Sum();
                     aggregates.Add(p => p.TotalRepairVehicle).Sum();
                 })
                .Read(read => read.Action("Statistic_Read", "StatisticForVehicle").Data("getTime"))
                .ServerOperation(false)
             )
              .Events(events => events.DataBinding("binding_handler").DataBound("onDataBound")
              ) )

                </div>
            </div>

        </div>
    </div>

}
<script type="text/javascript" src="~/Content/themes/admin/js/tableHeadFixer.js"></script>

<script>
    $(document).ready(function () {
        $(".monthPicker").datepicker({
            dateFormat: 'MM yy',
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            maxDate: new Date($.now()),


            onClose: function (dateText, inst) {
                var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                $(this).val($.datepicker.formatDate('MM / yy', new Date(year, month, 1)));
            }
        });

        $(".monthPicker").focus(function () {
            $(".ui-datepicker-calendar").hide();
            $("#ui-datepicker-div").position({
                my: "center top",
                at: "center bottom",
                of: $(this)
            });
        });

    });

    // get data in kendo grid when filter
    function getDataFilter() {
        var dataSource = $("#grid").data("kendoGrid").dataSource;
        var filters = dataSource.filter();
        var allData = dataSource.data();
        var query = new kendo.data.Query(allData);
        var result = query.filter(filters).data;
        return result;
    }

    // get check all check box
    function getCheckAll() {
        var dataFilterID = [];
        var dataFilter = getDataFilter();
        var check;
        for (var i = 0; i < dataFilter.length; i++) {
            dataFilterID.push(String(dataFilter[i].ID));
        }
        for (var i = 0; i < dataFilterID.length; i++) {
            var index = rowselected.indexOf(dataFilterID[i]);
            if (index != -1) {
                check = true;
            }
            else {
                check = false;
                break;
            }
        }
        return check;
    }

    // single checkbox
    function childNodeClick(element) {
        var dataID = getCheckAll();
        var id = element.value;
        if (rowselected.indexOf(id) !== -1) {
            rowselected.splice(rowselected.indexOf(id), 1);
        } else {
            rowselected.push(id);
        }
        isCheckedAll = getCheckAll();
        $('#chkAll').prop('checked', isCheckedAll);


    }

    // remove checked in check box if kendo grid is filter
    $(function () {
        $(".k-filter").click(function () {
            setTimeout(function () {
                $(".k-filter-menu .k-button").click(function () {
                    setTimeout(function () {
                        rowselected = [];
                        isCheckedAll = getCheckAll();
                        $('#chkAll').prop('checked', isCheckedAll);
                        $('input[name="checkedNodes"]').each(function () {
                            if (rowselected.indexOf(this.value) != -1) {
                                $(this).attr('checked', 'checked');
                            } else {
                                $(this).removeAttr('checked');
                            }
                        });
                    }, 10)
                })
            }, 100);
        });
    });

    //Check all check box
    function checkAll(e) {

        var rowItems = getDataFilter();
        isCheckedAll = $(e.target).prop('checked');
        if (isCheckedAll) {
            for (var i = 0; i < rowItems.length; i++) {
                var index = rowselected.indexOf(String(rowItems[i].ID));
                if (index == -1) {
                    rowselected.push(String(rowItems[i].ID));
                }
            }
        }
        else if (!isCheckedAll) {
            var dataFilterID = [];
            var dataFilter = getDataFilter();
            for (var i = 0; i < dataFilter.length; i++) {
                dataFilterID.push(String(dataFilter[i].ID));
            }
            for (var i = 0; i < dataFilterID.length; i++) {
                var index = rowselected.indexOf(dataFilterID[i]);
                if (index != -1) {
                    rowselected.splice(index, 1);
                }
            }
        }

        $('input[name="checkedNodes"]').each(function () {
            $(this).prop('checked', isCheckedAll);
        });
    }

    // get time in date range picker
    function getTime(e) {
        return {
            datetime: $("#time").val(),
            checkForm: getDataCheck
        };
    }

    // listen apply button in date range picker
    $('input[name="daterange"]').on('apply.daterangepicker', function (ev, picker) {
        $("#grid").data("kendoGrid").dataSource.read();
    });

    function query_alert() {
        alert("Vui lòng kiểm tra lại dữ liệu các bảng quản lý dầu, quản lý lái xe chi, quản lý lương và quản lý các chi phí khác!");
    }
</script>

