@model IEnumerable<WebModels.WebModule>

@foreach (var item in Model)
{
    <div class="overview flex box-task ">
        <img src="@item.ImgActive" alt="" class="img-active">
        <img src="@item.Img" alt="">
        <a href="@item.URL" class="text-14-400 padding-text-box-task menu-item">@item.Title</a>
    </div>
}

